/* frontend-public-index.html 을 꾸며줄 index.css 파일 */

html{
  font-size: 62.5%;       /* 16px x 62.5% = 10px = 1rem 이렇게 1rem을 10ox로 설정*/
  box-sizing: border-box; /* box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성 */
}
body{
  margin: 0;                                  /* 위쪽 공란 */
  height: 100vh;                              /* 화면의 100분의 1 = 1vh로 100vh로 전체를 사용한다. */
  font-size: 1.6rem;                          /* 1.6rem으로 16px */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  /* 폰트 , 기본값 , 상속 요소 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */

.grid-container{
  display: grid;                      /* 가로,세로 둘다 이용하는 레이아웃 */
  grid-template-areas:                /* 작성한 구성 그대로 템플릿을 만드는 방식 */
      'header' 
      'main' 
      'footer';
  grid-template-columns: 1fr;         /* 템플릿의 행을 해당 비율로 표현, fr=비율을 뜻할 때 사용 */
  grid-template-rows: 8rem 1fr 5rem;  /* 템플릿의 행을 표현 , 5rem + 나머지(1fr) + 5rem으로 구성됨 */
  height: 100%;                       /* 높이 100%활용 */
}
header{
  grid-area: header;                  /* 그리드에서 header임을 뜻함*/
  background-color: #ffffff;        /* 배경 색 */
}
main{
  grid-area: main;                    /* 그리드에서 main임을 뜻함*/
  padding: 1rem;                      /* 내부의 공간에서 상하좌우로 1rem만큼의 여백 생성 */
}
footer{
  grid-area: footer;                  /* 그리드에서 fooder임을 뜻함*/
  background-color: #a0caf3;        /* 배경 색 */
  color: #202204;                   /* 글씨의 색상 */
}
/* 공통 */
h1{                                   /* card-body의 첫번째 문장 */
  font-size: 1.8rem;                  /* 글씨 크기 */
  padding: 1rem 0;                    /* 상하 공간 */
}
h2{                                   /* card-body의 두번째 문장 */
  font-size: 1.6rem;                  /* 글씨 크기 */
  padding: 1rem 0;                    /* 상하 공간 */
}
a{                                    /* 꾸밈용 */
  text-decoration: none;              /* 일반상태 꾸밈 없음 */
}
a:hover {                             /* 링크에 마우스 포인터를 올려 놓았을 때 */
  color: #ff8000;                   /* 색상 변함 */ 
}
ul{                                   /* ul */
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {                                  /* li */
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;                          /* 1.6rem으로 16px */
  font-family: Helvetica, Arial, sans-serif;  /* 폰트 , 기본값 , 상속 요소 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  border: 0.1rem #404040 solid;
}
button.primary{
  background-color: #a9a2e6;
}
button.block{
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* header */
header a{                             /* a를 header에 적용 */
  color: #10033f;                   /* 글씨 색상 적용 */
  padding: 1rem;                      /* 상하좌우 공간 1rem */
}
a.brand{                              /* brand라는 클래스 생성 */
  color: #10033f;                   /* 글씨 색상 */
  font-size: 3rem;                    /* 글씨 크기 */
  font-weight : bold;                 /* 글씨 두껍게 */
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topmenu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: right;
}
.productlist_row{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: right;
}
.row{  
  margin-top: 20px;                               /* 행 설정 */
  display: flex;                      /* 양쪽 폭 전부 사용 */
  flex-wrap: wrap;                    /* items를 여러 줄 묶음 */
  justify-content: space-between;     /* item은 items들 사이에만 여유 공간을 두고 배치 */
  align-items: center;                /* item은 한 가운데에 배치 */
}
.row.center {                         /* 행 설정의 서브 클래스로 footer에 적용 */
  justify-content: center;            /* item을 중앙에 위치시킴 */
}
.row.top{
  margin-top: 20px;
  align-items: flex-start;
}
.col-1{                               /* ProductScreen의 description */
  flex: 1 1 25rem;
  margin-left: 20px;
  margin-top: 56px;
}
.col-2{                               /* ProductScreen의 Add to Cart */
  flex: 2 1 50rem;
}
.col-3{
  justify-content: center;
}
.min-30{
  min-width: 30rem;
}
/* image 설정 */
img{
  border-radius: 0.5rem;              /* img의 경계의 0.5rem만큼만 둥글게 함 */
}
img.small{
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 25rem;                   /* 최대 폭 */
  width: 100%;                        /* 폭 활용도 */
}
img.large {                           /* Product Screen에서의 image 설정 */
  width: 100%;
}
/* Card 설정 */
.card{
  border: 0.1rem #c0c0c0 solid;     /* 경계 폭 / 색상 / 굵기 */
  background-color: #f8f8f8;        /* 배경 색 */
  border-radius: 0.5rem;              /* img의 경계의 0.5rem만큼만 둥글게 함 */
  margin: 1rem;                       /* 상하좌우 폭 */
}
.card-body {
  padding: 1rem;                      /* 상하좌우 폭 */
}
.card-body > * {                      /* 모든 card-body는 해당 설정을 받음(?) */
  margin-bottom: 0.5rem;              /* 아래 공간 */
}
.price{                               /* 가격 설정 */
  font-size: 2rem;                    /* 글씨 크기 */
}
/* Rating */
.rating span{                         /* 모든 rating에 적용 */
  color: #f0c040;                   /* 글씨 색상, 별의 색깔 */
  margin: 0.1rem;                     /* 상하좌우 폭 */
}
.rating span:last-child{              /* span의 마지막 요소 */
  color: #404040;
}
/* Alert 경고 */
.loading {
  display: block !important;
}
.success{
  color: #20a020;
}
.danger{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}

/* Form , SigninScreen의 디테일 설정 button 색상 =  Line88*/
.form{
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Dropdown , 페이지 헤더의 오른쪽 로그인칸 */
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 13rem;
  padding: 1rem;
  z-index: 1;
  background-color: #8ebceb;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps
{
  border-top: 0.3rem #979090 solid;
  color:#979090;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  margin-top: 90px;
}

.checkout-steps > div.active {
  border-top-color: #f89c45 ;
  color: #f89c45;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Carousel
  Top Seller */
.carousel .slide img {
  max-width: 30rem;
}

.search_box{
  display: flex;
  justify-content:space-between;
  align-items: center;
  align-content:space-between;
}
/* Search 검색 */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

/* 사이드바 */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: hsl(122, 65%, 92%);
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #1a2c66;
  cursor: pointer;
  background-color: gold;
  margin-top: 21px;

}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

.product_page
{
  margin-top: 50px;
}

.results{
  margin-top: 30px;
}

.topseller_main{
  margin-top: 40px;
}

.userlist{
  margin-top: 40px;

}

.orderlist{
  margin-top: 40px;

}

.active {
  font-weight: bold;
}
.sortby{

  margin-top: 60px;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;                          /* 1.6rem으로 16px */
  font-family: Helvetica, Arial, sans-serif;  /* 폰트 , 기본값 , 상속 요소 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}